<h1><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200%>

<% if logged_in? && @user == current_user %>
  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-lg btn-success" %>
<% end %>

<h1>Articles</h1>

<div class="digg_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render "articles/article", obj: @user.articles%>